<div id="titlebar"> <h2 align="center">Welcome to our site!</h2> </div>

<ul class="topnav">

  <li><a class="active" href="#home">Home</a></li>

  <li><a href="#blog" (click)="clickBlog()">Blog</a></li>

  <li><a href="#packages">Packages</a></li>

  <li><a href="#contact">Contact</a></li>

  <li class="right"><a href="#about" (click)="clickAbout()">About</a></li>

</ul>

<div style="padding:0 16px;">

<h2>What is Lorem Ipsum?</h2>

Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.....

<h2>Why do we use it?</h2>

It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.....

<h2>Where does it come from?</h2>

Contrary to popular belief, Lorem Ipsum is not simply random text....
 
<h2>Where can I get some?</h2>

There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.....

 

</div>